---
layout: page
title: Projects
tags: project
---
<div>

<ul class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'project' %}
        <li class="post-list">
          <h2>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt | strip_html }}
          <!-- strip_html removes an otherwise undesirable line break -->
          <a class="read_more" href="{{ post.url }}">Read more.</a>
          <br>
          <span class="list-date">
            {{ post.date | date: "%Y" }}
            &ndash;
            {{ post.end_date | date: "%Y" }}
          </span>
        </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
