# Dependencies
markdown:         kramdown
highlighter:      pygments

# Permalinks
permalink: pretty
# changing this to custom will put links to pages at *.html rather than */

# Setup
title:       Michael A Osborne
name:        Michael A Osborne
tagline:     'Professor of Machine Learning'
description: 'Professor of Machine Learning at the <a href="http://www.ox.ac.uk">University of Oxford</a>'

# This makes the generator look at the date of each post (see "Every Jekyll
# Post has a Date"). Posts whose date is in the future will not be published.
# NB: This does not mean that, when you finally hit the date of a future post,
# the post will automatically appear. It only means that it will appear the
# next time you publish!
# https://github.com/bobgilmore/jekyll-blog/blob/master/_posts/2014-01-13-deferring-publication-in-jekyll.md
future: false

ftp_host: 'robots.ox.ac.uk'
ftp_dir: '/homes/51/mosb/WWW/'
ftp_passive: false

# publish with the below
# rsync -avz /Users/michaelosborne/Documents/MosbWWW/robots-www/_site/ mosb@robots.ox.ac.uk:~/WWW


scholar:
  style: apa
  repository: public/pdf
  replace_strings: true
  join_strings: true
  bibliography_template: bibliography
  sort_by: year
  order: descending

baseurl: /~mosb

author:
  name:   'Michael Osborne'

github:
  repo: https://github.com/mosb/robots-www

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      published:  true
      author:     mosb
  -
    scope:
      path: "blog"
      type: "posts"
    values:
      layout: post
      comments: true
      tags: blog
  -
    scope:
      path: "projects"
      type: "posts"
    values:
      layout: project
      categories: project # overrides previous default layout
      comments: false
      end_date: {{ site.time }}
      tags: project
