


@media{
    .content {
        max-width: 33em;
    }
}
.post-date {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    color: #B0B0B0;
    font-family: "Source Code Pro", Monaco, "Courier New", monospace;
    /*font-family:    "jaf-facitweb", sans-serif;*/
}
.list-date {
    font-family: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
    color: #B0B0B0;
}
p {
    margin-top: 1.375em;
    margin-bottom: 0;
}
p + p {
    margin-top: 0;
    text-indent: 1.375em;
}
/* THis is the background colour*/

body {
    color: #303030;
    background: #95AEC7;
    padding: 0 0 20px 0;
    font-family: "adobe-caslon-pro", serif;
    font-size: medium;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family: "jaf-facitweb", sans-serif;
    padding-top: 0px;
    padding-bottom: 0.5em;
    margin-bottom: 0px;
}
.sidebar-about h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "jaf-facitweb", sans-serif;
}
.page h1 {
    color: #6FB3D2;
}
.post h1 {
    color: #6FB3D2;
}
h2 {
    color: #F96D26;
    padding: 0px;
    padding-top: 4px;
    font-family: "jaf-facitweb", sans-serif;
    font-weight: normal;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    /*line-height       : 18px;*/
}
h2.topper{
    /*doesn't work!*/
    /*color: #6FB3D2;*/
    text-align: left;
    text-transform: lowercase;
}

h3 {
    /*padding-bottom    : 10px;*/
    font-family: "adobe-caslon-pro", serif;
    /*padding-top       : 20px;*/
    text-transform: uppercase;
    font-size: medium;
    color: #BE643C;
}
h4 {
    padding-top: 10px;
    font-family: "adobe-caslon-pro", serif;
    font-style: italic;
    color: #D381C3;
    font-weight: bold;
    text-indent: 0px;
    font-size: medium;
    padding-bottom: 3px;
}
.page a:link {
    text-decoration: none;
    color: #105A94;
}
.page a:visited {
    text-decoration: none;
    color: #105A94;
}
.page a:active {
    text-decoration: none;
    color: #105A94;
}
.page a:hover {
    text-decoration: underline;
    color: #105A94;
}
.post a:link {
    text-decoration: none;
    color: #105A94;
}
.post a:visited {
    text-decoration: none;
    color: #105A94;
}
.post a:active {
    text-decoration: none;
    color: #105A94;
}
.post a:hover {
    text-decoration: underline;
    color: #105A94;
}
/*a[href$=".PDF"], a[href$="pdf"] {
padding           : 2px 2px 2px 20px;
background        : url("/public/ico/pdficon_small.png") left center no-repeat;
}
*/

.sidebar a:link {
    text-decoration: none;
    color: #6699CC;
}
.sidebar a:visited {
    text-decoration: none;
    color: #6699CC;
}
.sidebar a:active {
    text-decoration: none;
    color: #6699CC;
}
.sidebar a:hover {
    text-decoration: underline;
    color: #6699CC;
}
.sidebar-nav-item {
    text-transform: uppercase;
    font-family: "jaf-facitweb", sans-serif;
    font-size: large;
    text-align: right;
}
.sidebar-nav-item.active {
    text-transform: lowercase;
}

a.read_more {
    font-style: italic;
}

.lead {
    text-align: center;
    font-family: "adobe-caslon-pro", serif;
    font-style: italic;
    font-size: large;
}
.mosb {
    font-weight: bold;
    color: #FBA330;
}
hr {
    margin-top: 25px;
}

li {
    /*padding-top       : 0px;*/
    padding: 5px;
    margin: 0px;
}
.collaborators li {
    list-style-type: none;
}
.post-list {
    list-style-type: none;
    /*padding-top       : 0px;*/
    /*padding           : 5px;*/
    /*margin            : 0px;*/
}
/* jwvdm below */

div#photo-well {
    margin-left: 30px;
}
img[alt=photo] {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt=CV] {
    background-color: #FFFFFF;
}
img[alt=ebfret-screenshot] {
    width: 300px;
    /*float: left;*/
    margin-right: 30px;
}
img[alt=aneic-objects] {
    width: 300px;
    /*float: left;*/
    margin-right: 30px;
}
.social-icons img {
    width: 32px;
    margin-left: auto;
    margin-right: auto;
}

.social-icons ul {
    text-align: center;
    list-style: none;
}

ul {
    list_style: none;
}

ul.plus {
    list-style: none;
}

ul.plus li:before
{
    content: '+ ';
    /*margin: 0 1em; */
}

.social-icons li {
    margin: 0;
    float: left;
    /*width: 20%;*/
    /*padding: 10px;*/
}

/*div.well {
    padding: 0px;
}
*/

img[alt=contact] {
    height: 14px;
}
.float-left {
    float: left;
    margin-left: 20px;
    margin-right: 60px;
}
.float-right {
    float: right;
    margin-right: 20px;
    margin-left: 60px;
}
.logo {
    vertical-align: bottom;
}
/*.container {
  margin-left: 20px;
  margin-right: 20px;
}
*/

.nav {
    white-space: nowrap;
}
.header > .row {
    padding-left: 20px;
    padding-right: 20px;
}
.nav, .title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 120%;
}
.title, .subtitle {
    /*color: #ffffff;*/
    padding-top: 8px;
    padding-bottom: 8px;
}
.header {
    /*padding-left: 20px;*/
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.header .col-md-6 {
    padding-left: 0px;
}
/*.nav a {
  color: #fff;
}
*/

.nav > li > a {
    /*border-radius: 3px 3px 0px 0px;*/
    border-radius: 3px;
    text-decoration: none;
    background-color: transparent;
    color: #cccccc;
    padding: 8px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #6699CC;
    color: #fff;
}
.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
    color: #fff;
}
/*.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
*/

.nav-pills > li + li {
    margin-left: 5px;
}
.content {
    background-color: #FFFFFF;
    color: #2D2D2D;
    border-radius: 3px;
    padding: 30px;
    /*box-shadow: 5px 5px 5px #012;*/
}
.footer {
    padding-top: 10px;
    padding-left: 10px;
    color: #999;
}
.footer a {
    color: #F2F0EC;
}
.nav-pills > li + li {
    margin-left: 5px;
}
ol.bibliography {
    padding-left: 1.5em;
    list-style-type: decimal;
}
ol.bibliography > li {
    padding-top: 8px;
    padding-bottom: 8px;
}
ol.bibliography .nav > li > a {
    padding-left: 0;
}
ol.bibliography .nav-pills > li > a, ol.bibliography .nav-pills > li > a:hover {
    font-size: small;
    text-transform: uppercase;
    font-family: "jaf-facitweb", sans-serif;
    color: #888;
    background-color: transparent;
}
ol.bibliography .nav-pills > li > a:hover {
    color: #235;
}
