* {
margin            : 0;
padding           : 0;
}

p
{
text-indent       : 35px;
}

p#first
{
text-indent       : 0px;
}

p#collab
{
font-style        : italic;
text-indent       : 0px;
padding-bottom    : 10px;
}

p#date
{
padding-top       : 10px;
font-style        : italic;
text-indent       : 0px;
}

p#cite{
padding-left      : 20px;
text-indent       : -20px;
margin-bottom     : 10px;
}


blockquote{
font-style    : italic;
text-indent   : 0px;
margin-top    : 10px;
margin-bottom : 10px;
margin-left   : 50px;
padding-left  : 15px;
/*border-left   : 3px solid #ccc;*/
}

ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/

    margin: 0;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2em;
    /*border-left: 3px solid #ccc;*/
}
ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    /*font-size: 1em;*/
    /*line-height: 1.5;*/
    font-weight: bold;
    text-align: right;
    /*color: #464646;*/

    content: counter(li-counter) ".";
    counter-increment: li-counter;
}

ul
{
list-style-type   : lower-roman;
padding-top       : 0px;
padding           : 0px;
margin            : 0px;
}

body {
background        : #E5FDFF;
padding           : 0 0 20px 0;
font-family       : "adobe-caslon-pro", serif;
}

#header ul {
list-style        : none;
margin            : 0;
padding           : 0;
margin-top        : 0.5em;
padding-left      : 0em;
clear             : both;
}

#header li {
font-size         : large;
font-weight       : bold;
font-family       : "jaf-facitweb", sans-serif;
display           : inline;
margin-right      : 0.3em;
line-height       : 15px;
text-transform    : uppercase;
}



#thinDivider {
/*  float          : left;
width             : 100%;
margin-left       : 0%;
margin-right      : 0%;
margin-bottom     : 18px;
border-top        : 1px solid #9f9e9e;
height            : 0px;
background        : #000000;*/
}

#topDivider {
/*  float          : left;
width             : 380px;
margin-left       : 00%;
margin-right      : 00%;
margin-bottom     : 18px;
border-top        : 1px solid #9f9e9e;
height            : 0px;
background        : #000000;*/
}


#container {
position          : relative;
width             : 65%;
left              : 50%;
margin-top        : 70px;
margin-bottom     : 70px;
margin-left       : -32.5%;
background        : #E5FDFF;
overflow          : hidden;
}

#hilight{
position          : relative;
width             : 100%;
left              : 50%;
margin-top        : 10px;
margin-bottom     : 10px;
margin-left       : -50%;
padding-top       : 0px;
padding-bottom    : 5px;
padding-right     : 5px;
padding-left      : 5px;
background        : #303030;
color             : #E5FDFF;
overflow          : hidden;
}

#headText{
position          : relative;
margin-left       : 10px;
width             : 200px;
}



#main
{
margin            : 50px;
}

h1 {
font-size         : xx-large;
font-weight       : bold;
font-family       : "jaf-facitweb", sans-serif;
padding-top       : 0px;
padding-bottom    : 0px;
margin-bottom     : 0px;
}

h2 {
padding           : 0px;
padding-top       : 4px;
font-weight       : normal;
font-size         : large;
font-style        : italic;
line-height       : 18px;
}

h3 {
font-family       : "jaf-facitweb", sans-serif;
padding-bottom    : 10px;
padding-top       : 20px;
font-size         : large;
font-weight       : bold;
}

h4
{
padding-top       : 12px;
/*font-style        : italic;*/
text-transform    : lowercase;
font-variant      : small-caps;
font-weight       : normal;
font-size         : large;
text-indent       : 0px;
padding-bottom    : 6px;
}


hr {
margin-top        : 25px;
}

span#current{
text-decoration   : none;
/*text-transform  : lowercase;*/
}

a:link
{ text-decoration : none; color:#FF6200;}
a:visited
{ text-decoration : none; color:#FF6200;}
a:active
{ text-decoration : none; color:#FF6200;}
a:hover
{ text-decoration : underline; color:#FF6200;}
a[href$=".PDF"], a[href$="pdf"] {
padding           : 2px 2px 2px 20px;
background        : url("pdficon_small.png") left center no-repeat;


}



