<div class="sidebar">

	<div class="container sidebar-sticky">

		<div class="sidebar-about">

			<h1>

				<a href="{{ site.baseurl }}/">
					{{ site.title }}
				</a>

			</h1>
			<img alt="photo"
				src="{{ site.baseurl }}/public/image/osborne_photo.jpg"/>
			<p class="lead">{{ site.description }}</p>

		</div>

		<nav class="sidebar-nav">
	      <a class="sidebar-nav-item{% if page.tags == 'about' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

			{% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
			{% endcomment %}

			{% assign pages_list = site.pages %}
			{% for node in pages_list %}
				{% if node.title != null %}
					{% if node.layout == "page" %}
						{% assign extra_class = '' %}
						{% for tag in page.tags %}
							{% for tag2 in node.tags %}
								{% if tag == tag2 %}
									{% assign extra_class = 'active' %}
								{% endif %}
							{% endfor %}
						{% endfor %}
			            <a class="sidebar-nav-item {{extra_class}}" href="{{ site.baseurl }}{{node.url}}"> {{ node.title }} </a>
					{% endif %}
				{% endif %}
			{% endfor %}

		</nav>

		<!-- <a class="sidebar-nav-item" href="https://github.com/OxfordML">GitHub</a> -->
		<!-- <a class="sidebar-nav-item" href="{{ site.baseurl }}/public/pdf/MAOsborne.pdf">CV</a> -->


		<div class="social-icons">
		    <ul>
		        <li>
					<a href="{{ site.baseurl }}/public/pdf/MAOsborne.pdf">
					<img src="{{ site.baseurl }}/public/ico/curriculum-vitae.png" alt="CV" >
					</a>
				</li>
		        <li>
					<a href="http://scholar.google.co.uk/citations?user=iTNcAakAAAAJ">
						<img src="{{ site.baseurl }}/public/ico/google-scholar.png"
							alt="google scholar" >
					</a>
				</li>
		        <li>
					<a href="https://twitter.com/maosbot">
						<img src="{{ site.baseurl }}/public/ico/twitter.png"
							alt="twitter">
					</a>
				</li>
		    </ul>
		</div>
		<!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
	</div>

</div>

