---
layout: default
comments: false
---

<div class="post">
  <h2 class="topper"><a href="{{ site.baseurl }}/projects">projects</a></h2>
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}

  <!-- <h2>Collaborators</h2>
  <ul class="plus">
    {% for collaborator in page.collaborators %}
      <li>
        <span class="collaborator">
          <a class="post-link" href="{{ collaborator.url }}">
            {{ collaborator.name }},
          </a> {{ collaborator.institute }}
        </span>
      </li>
    {% endfor %}
  </ul> -->

  <h2>Publication Highlights</h2>
  <ol class="bibliography">
    {% for paper in page.papers %}
      <li>
        <a href="{{ site.baseurl }}/publications_code/#{{ paper }}">{% reference paper --file all_bib %}</a>
      </li>
    {% endfor %}
  </ol>

</div>
